/* Project CSS 
============================================================
============================================================*/

header img{
    min-width: 100px;
    width: 20%;   
    float: left;
}

#container {
    max-width: 1200px;
    margin: auto;
}

header {
    width: 100%;
    font-family: 'Lobster', cursive;
}
header > h1{
    color: #294443;
    position: absolute;
    right: 20%;
    clear: both;
    margin-top: 2em;
    font-size: 50px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #ffe97d;
   }
h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
    font-weight: 100;
}
strong{
    font-weight: 100;
    font-size: 1.1em;
}
h2{
    font-size: 2em;
}
#main {
    border-radius: 1em;
    position: relative;
    top: 300px;
    width: 1200px;
    height: 100%;
    padding: 3em;
    color: #ffe97d;
    background-color: #4c7f7f;
}
h3{
    font-size: 1.75em;
}
.intro {
    padding: 2em;
}

section {
    border-radius: 1em;
    padding: 1em;
    max-width: 1150px;
    height: auto;
    background-color: #294443;
    color: #ffe97d;
    margin-bottom: 2em;
}
code{
    margin: .1em;
    display: inline-block;
    padding: 5px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid white;
}
section img {
    width: 700px;
    position: relative;
    margin-left: 50%;
    left: -350px;
}
h4{
    font-size: 1.25em
}



.button {
    background-color: #ffe97d;
    color: #4c7f7f;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 2em;
    padding: 1.5em;
    width: 10em;
    display: block;
    margin: auto;
    text-align: center;
}
