<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
        <header>
            <div id="home"><a><img class="smallimage" src="img/home.png" /><caption>Home</caption></a></div>
            <div id="services"><a><img class="smallimage" src="img/profile.png" /><caption>Services</caption></a></div>
            <div id="logo"><a><img class="logo" src="img/logo.png" /></a></div>
            <div id="work" ><a><img class="smallimage" src="img/list.png" /><caption>Portfolio</caption></a></div>
            <div id="contact"><a><img class="smallimage" src="img/address.png" /><caption>Contact</caption></a></div>
        </header>
	<!-- End Component -->
	
</body>
</html>