/* Component Stylesheet 
============================================================
============================================================*/


header {
    width: 1200px;
    height: 250px;
    background-color: #999;
    margin-bottom: 20px;
    border: black 1px solid;
}

#container {
    width: 1200px;
    margin: auto;
}
#main {
    width: 1200px;
    height: 2000px;
    background-color: #999;
    margin-bottom: 20px;
    border: black 1px solid;
}

footer {
    width: 1200px;
    height: 250px;
    background-color: #999;
    border: black 1px solid;
}
#signin{
    position: fixed;
    top: 200px;
    left: 50px;
    background-color: #ccc;
    border: black 1px solid;
    height: 150px;
    width: 150px;
    text-align: center;
}