<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />


</head>
<body>

	<!-- Component -->
<div id="container">
	<div class="subnav" id="subnav1">
		<h2>News &amp; Events</h2>
		<img src="toys.jpg" />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies egestas est, vel dignissim purus hendrerit commodo. Integer sagittis nulla id lacus ultricies rutrum. Cras eget volutpat odio. Nam nec arcu gravida, euismod metus vel, cursus nisl. Aliquam id faucibus augue, eget vestibulum nisi. Donec non mattis mi, non varius sem. Pellentesque iaculis tortor a ligula elementum lobortis. Vivamus elementum, magna nec auctor vestibulum, elit justo porttitor erat, a suscipit erat metus ut nisi. Aenean eget orci id erat dictum lacinia. Suspendisse pulvinar tempus nulla nec pharetra. Sed rhoncus nec metus et viverra. Nullam vitae risus massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
		<a href="#">More</a>
	</div>
	<div class="subnav" id="subnav2">
		<h2>New Destinations</h2>
		<img src="beach.jpg" />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies egestas est, vel dignissim purus hendrerit commodo. Integer sagittis nulla id lacus ultricies rutrum. Cras eget volutpat odio. Nam nec arcu gravida, euismod metus vel, cursus nisl. Aliquam id faucibus augue, eget vestibulum nisi. Donec non mattis mi, non varius sem. Pellentesque iaculis tortor a ligula elementum lobortis. Vivamus elementum, magna nec auctor vestibulum, elit justo porttitor erat, a suscipit erat metus ut nisi. Aenean eget orci id erat dictum lacinia. Suspendisse pulvinar tempus nulla nec pharetra. Sed rhoncus nec metus et viverra. Nullam vitae risus massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

</p>
		<a href="#">More</a>
	</div>
	<div class="subnav" id="subnav3">
		<h2>Popular Tours</h2>
		<img src="feet.jpg" />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies egestas est, vel dignissim purus hendrerit commodo. Integer sagittis nulla id lacus ultricies rutrum. Cras eget volutpat odio. Nam nec arcu gravida, euismod metus vel, cursus nisl. Aliquam id faucibus augue, eget vestibulum nisi. Donec non mattis mi, non varius sem. Pellentesque iaculis tortor a ligula elementum lobortis. Vivamus elementum, magna nec auctor vestibulum, elit justo porttitor erat, a suscipit erat metus ut nisi. Aenean eget orci id erat dictum lacinia. Suspendisse pulvinar tempus nulla nec pharetra. Sed rhoncus nec metus et viverra. Nullam vitae risus massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

</p>
		<a href="#">More</a>
	</div>
	<div class="subnav" id="subnav4">
		<h2>Booking Online</h2>
		<img src="airplane.jpg" />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies egestas est, vel dignissim purus hendrerit commodo. Integer sagittis nulla id lacus ultricies rutrum. Cras eget volutpat odio. Nam nec arcu gravida, euismod metus vel, cursus nisl. Aliquam id faucibus augue, eget vestibulum nisi. Donec non mattis mi, non varius sem. Pellentesque iaculis tortor a ligula elementum lobortis. Vivamus elementum, magna nec auctor vestibulum, elit justo porttitor erat, a suscipit erat metus ut nisi. Aenean eget orci id erat dictum lacinia. Suspendisse pulvinar tempus nulla nec pharetra. Sed rhoncus nec metus et viverra. Nullam vitae risus massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

</p>
		<a href="#">More</a>
	</div>
</div>
	<!-- End Component -->

</body>
</html>
